@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

Main {
  width: 100%;
}

.canvas {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 900px;
  position: relative;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebeff, -20px -20px 60px #bebebeff;
}

.page-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px 90px 0 90px;
}

.page-section h2 {
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.3;
}

.light-theme {
  background-color: #eeededff;;
  color: black;
}

.light-theme #myName {
  color: #6988f4;
  font-weight: bold;
}

/* ----------- DARK MODE PAGE -----------*/

.dark-theme {
  background-color: #292929;
  color: #ffffffff;
  box-shadow: 20px 20px 60px #000000ff, -20px -20px 60px #000000ff;
}

.dark-theme #myName {
  color: #6988f4;
  font-weight: bold;
}

.dark-theme #buttonRow {
  color: #fff;
  background: #212121;
  border: 1px solid #212121;
  box-shadow: 6px 6px 12px #000, -6px -6px 12px #2f2f2f;
}

.dark-theme .custom-button {
  color: #fff;
  background: #212121;
  border: 1px solid #212121;
  box-shadow: 6px 6px 12px #000, -6px -6px 12px #2f2f2f;
  transition: all 0.3s ease;
}

.dark-theme .custom-button:hover {
  color: #666;
  box-shadow: 0px 0px 0px #000000ff, 0px 0px 0px #2c2b2bff,
    inset 4px 4px 12px #000000ff, inset -4px -4px 12px #292727ff;
}

/* ----------- MAIN BUTTONS -----------*/
.button-row {
  display: flex;
  justify-content: center;
  width: max-content;
  position: absolute;
  bottom: 10px;
  gap: 8px;
  padding: 8px;
  margin-bottom: 15px;
  background-color: #e8e8e8;
  border-radius: 9999px;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}

.custom-button {
  position: relative;
  background: none;
  border: none;
  padding: 8px 12px;
  margin: 0;
  cursor: pointer;
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  border-radius: 9999px;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: all 0.3s;
}

.custom-button:hover {
  color: #666;
  box-shadow: 0px 0px 0px #c5c5c5, 0px 0px 0px #ffffff,
    inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  transform: scaleX(1.04);
  transition: all 0.2s ease;
}

.custom-button::before {
  content: attr(data-label);
  display: none;
  justify-content: center;
  align-items: center;
  height: 16px;
  font-size: 0.6rem;
  padding: 2px 4px;
  background-color: #6988f4;
  color: white;
  opacity: 0.7;
  position: absolute;
  top: -28px;
  border-radius: 6px;
}

.custom-button:hover::before {
  display: flex;
}

.custom-button img {
  width: 24px;
  height: 24px;
}